# Maven
target/

# IntelliJ IDEA
.idea/
*.iml
*.iws
.idea_modules/
out/

# Eclipse
.classpath
.project
.settings/

# Gradle
.gradle/
build/

# Logs
logs/
*.log

# OS-specific
.DS_Store
Thumbs.db
ehthumbs.db/

# Compiled binary
*.class

# Package Files
*.jar
*.war
*.ear

# Windows
desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Thumbnails
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk